In [2]:
import pandas as pd
import pyreadr

In [8]:
result = pyreadr.read_r('data/pay.discrimination.Rdata')

print(result.keys())
df = result["data"]

odict_keys(['data'])

In [11]:
df.head()

   female   cg   sc  hsg   mw   so   we   ne  exp1   exp2    exp3       wage
0     0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  33.0  10.89  35.937  11.659091
1     0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  27.0   7.29  19.683  12.825000
2     0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  13.0   1.69   2.197   5.777027
3     0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0   2.0   0.04   0.008  12.468750
4     1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  15.0   2.25   3.375  18.525000