In [20]:
import pandas as pd
import pyreadr


import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
from sklearn.linear_model import LinearRegression

In [8]:
result = pyreadr.read_r('data/pay.discrimination.Rdata')

print(result.keys())
df = result["data"]

odict_keys(['data'])

In [11]:
df.head()

   female   cg   sc  hsg   mw   so   we   ne  exp1   exp2    exp3       wage
0     0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  33.0  10.89  35.937  11.659091
1     0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  27.0   7.29  19.683  12.825000
2     0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  13.0   1.69   2.197   5.777027
3     0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0   2.0   0.04   0.008  12.468750
4     1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  15.0   2.25   3.375  18.525000

In [15]:
df.describe()

,female,cg,sc,hsg,mw,so,we,ne,exp1,exp2,exp3,wage
count,3835.000000,3835.000000,3835.000000,3835.00000,3835.000000,3835.000000,3835.000000,3835.000000,3835.000000,3835.000000,3835.000000,3835.000000
mean,0.417992,0.376271,0.323859,0.29987,0.287614,0.243546,0.211734,0.257106,13.353194,2.529267,5.812103,15.533356
std,0.493293,0.484513,0.468008,0.45826,0.452709,0.429278,0.408591,0.437095,8.639348,2.910554,9.033207,13.518165
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2.000000,0.040000,0.008000,0.004275
25%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,6.000000,0.360000,0.216000,9.618750
50%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,11.000000,1.210000,1.331000,13.028571
75%,1.000000,1.000000,1.000000,1.00000,1.000000,0.000000,0.000000,1.000000,19.500000,3.802500,7.414875,17.812500
max,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,35.000000,12.250000,42.875000,348.333017

In [24]:
X = df.loc[:, df.columns != 'wage']
y = df.wage

In [26]:
reg = LinearRegression().fit(X, y)
reg.score(X, y)

8.76940267925457

In [27]:

reg.coef_

array([-1.82639692,  5.7516961 , -1.63258633, -4.11910978, -0.9491279 ,
        0.6697097 ,  0.01430958,  0.26510862,  1.09645592, -4.01338756,
        0.46033666])

In [28]:

reg.coef_

reg.intercept_

8.76940267925457