In [44]:
import pandas as pd
import pyreadr


import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
from sklearn.linear_model import LinearRegression

import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.model_selection import KFold 

from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics

In [8]:
result = pyreadr.read_r('data/pay.discrimination.Rdata')

print(result.keys())
df = result["data"]

odict_keys(['data'])

In [11]:
df.head()

   female   cg   sc  hsg   mw   so   we   ne  exp1   exp2    exp3       wage
0     0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  33.0  10.89  35.937  11.659091
1     0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  27.0   7.29  19.683  12.825000
2     0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  13.0   1.69   2.197   5.777027
3     0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0   2.0   0.04   0.008  12.468750
4     1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  15.0   2.25   3.375  18.525000

In [15]:
df.describe()

,female,cg,sc,hsg,mw,so,we,ne,exp1,exp2,exp3,wage
count,3835.000000,3835.000000,3835.000000,3835.00000,3835.000000,3835.000000,3835.000000,3835.000000,3835.000000,3835.000000,3835.000000,3835.000000
mean,0.417992,0.376271,0.323859,0.29987,0.287614,0.243546,0.211734,0.257106,13.353194,2.529267,5.812103,15.533356
std,0.493293,0.484513,0.468008,0.45826,0.452709,0.429278,0.408591,0.437095,8.639348,2.910554,9.033207,13.518165
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2.000000,0.040000,0.008000,0.004275
25%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,6.000000,0.360000,0.216000,9.618750
50%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,11.000000,1.210000,1.331000,13.028571
75%,1.000000,1.000000,1.000000,1.00000,1.000000,0.000000,0.000000,1.000000,19.500000,3.802500,7.414875,17.812500
max,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,35.000000,12.250000,42.875000,348.333017

In [24]:
X = df.loc[:, df.columns != 'wage']
y = df.wage

In [51]:
reg = LinearRegression().fit(X, y)
reg.score(X, y)

0.09548800312274808

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [41]:
reg = LinearRegression().fit(X_train, y_train)
# predictions = reg.predict(X_test)
score = reg.score(X_test,y_test)

In [42]:
print(score)

0.09295404921497752

In [55]:
scores = cross_val_score(LinearRegression(), X, y, cv=10)
print('Cross-validated scores: {}'.format(scores))

Cross-validated scores: [0.07081853 0.12904937 0.04766428 0.07175934 0.10897412 0.21684483
 0.11180997 0.04334515 0.06486785 0.08811967]