In [52]:
import pandas as pd
import pyreadr


import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
from sklearn.linear_model import LinearRegression
import stats

ModuleNotFoundError: No module named 'stats'

In [34]:
result = pyreadr.read_r('data/pay.discrimination.Rdata')

print(result.keys())
df = result["data"]

odict_keys(['data'])

In [35]:
df.head()

   female   cg   sc  hsg   mw   so   we   ne  exp1   exp2    exp3       wage
0     0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  33.0  10.89  35.937  11.659091
1     0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  27.0   7.29  19.683  12.825000
2     0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  13.0   1.69   2.197   5.777027
3     0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0   2.0   0.04   0.008  12.468750
4     1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  15.0   2.25   3.375  18.525000

In [36]:
men = df[df.female==0]
men = men.drop('female',axis=1)

In [37]:
women = df[df.female==1]
women = women.drop('female',axis=1)

In [38]:
X_men = men.loc[:, men.columns != 'wage']
y_men = men.wage
X_women = women.loc[:,women.columns != 'wage']
y_women = women.wage

In [39]:
LRM = LinearRegression().fit(X_men, y_men)
LRM.score(X_men, y_men)

0.11063152579609259

In [40]:
LRW = LinearRegression().fit(X_women, y_women)
LRW.score(X_women, y_women)

0.0791154701629373

In [41]:
X = df.loc[:, df.columns != 'wage']
y = df.wage
X = X.drop('female',axis=1)

In [42]:
pm = LRM.predict(X)

In [43]:
pw = LRW.predict(X)

In [44]:
diff = pm - pw

In [47]:
diff.mean()

1.8125942948503488

In [48]:
def get_prediction_interval(prediction, y_test, test_predictions, pi=.95):
    '''
    Get a prediction interval for a linear regression.
    
    INPUTS: 
        - Single prediction, 
        - y_test
        - All test set predictions,
        - Prediction interval threshold (default = .95) 
    OUTPUT: 
        - Prediction interval for single prediction
    '''
    
    #get standard deviation of y_test
    sum_errs = np.sum((y_test - test_predictions)**2)
    stdev = np.sqrt(1 / (len(y_test) - 2) * sum_errs)
#get interval from standard deviation
    one_minus_pi = 1 - pi
    ppf_lookup = 1 - (one_minus_pi / 2)
    z_score = stats.norm.ppf(ppf_lookup)
    interval = z_score * stdev
#generate prediction interval lower and upper bound
    lower, upper = prediction - interval, prediction + interval
    return lower, prediction, upper

In [49]:
get_prediction_interval(y[0],y,pm)

NameError: name 'stats' is not defined